
[class^="icon-"], [class*=" icon-"]{
	background:none;
}

input[type="text"]:focus, input[type="password"]:focus {
	box-shadow: 0 0 5px #ddca2f ;
	border-color: #DDD444; 
	/*0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6)*/
}

body{
	background: #fff;
}

.rightText{
	text-align: right;
}

.form-signin {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 19px 29px 29px;
}


.helptext{
	font-style: italic;
}


.logoContainer{
	margin-top: 50px;
}

.logo{
	width: 160px;
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}

.mainHeader{
	margin-top:30px;
	margin-left:0px;
	background: url(../img/groundApostol.png) repeat-x;
	background-position:  bottom;
	background-origin: border-box;
}

.mainHeader h1{
	font-family: "Century Gothic", serif;
	font-size: 5em;
}

.dashboardContainer{
	margin-left: -30px;
}
.dashboardContainer a.btnA{
	border-radius:0;
}

a h1{
	color: #444;
}


.btnA {
	background-color:#ddca2f;
	border:1px solid #aaa;
	display:inline-block;
	color:#000;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0 #FFF033;
	vertical-align: middle;
	margin: 1px;
}

a.btnA:hover{
	color:#000;
	text-decoration: none;
}
.btnA-large {
	font-size:24px;
	padding:15px 20px;
}

.btnA-small {
	font-size:16px;
	padding:6px 8px;
}


.btnA:hover {
	text-shadow:-1px -1px 0 #ccc633;
	background-color:#ddda2f;
}
.btnA:active {
	background-color:#ffda2f;
}

.featureBox{
    background-color: #EEEEEE;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 60px;
}


.loginBox{
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	margin: 0 auto 20px;
	max-width: 300px;
	padding: 19px 29px 29px;
}

.mainMenu ul{
	list-style: none;
	margin: 0;
}
.mainMenu ul li{
	float: left;
	display: inline-block;
	margin-right: 5px;
}

.mainList{
	list-style: none;
	margin: 0;	
}
.mainList li{
	border-bottom:1px dotted #C3C3C3;
	/*border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 0 #ccc;*/
	background:#FFE;
	padding: 20px;
	padding-top: 5px;
	margin-bottom: 1px;
}

.hwcenter{
	padding: 5px;
	vertical-align: baseline;
	text-align: center;
}

.subtitleElem{
	color: #555;
	font-size: 0.9em;
}
.titleElem{
	/*text-decoration: underline;*/
	border-bottom: 2px #666 solid;
	padding:0 5px;
}


.BorderBox{
	background-color: #EEE;
	border: 1px solid #E5E5E5;
	display: block;
	padding: 5px;
	margin: 5px;
}

.userMenu{
	list-style: none;
	margin: 0;
	width: 100%;
}
.userMenu li{
		float: right;
		margin: 5px;
}

.cotentHeader{
	margin: 5px;
}
.imgCategoria{
	margin: 5px;
	padding: 5px;
	border: 1px #888 solid;
	height: 80px;
	min-width: 100px;
}

.imgCatminsize{
	min-width: 100px;
	min-height: 90px
}

.infoBox{
	margin-bottom: 20px;
}

#opciones{
	margin: 20px;
}


.unselected{
	font-weight: bold;
	background: #666;
	box-shadow: 0;
	text-shadow: 0 0 0;
}
