{% extends "base.html" %}
{% block titulo %}Anotaciones{% endblock %}
{% block mainContent %}
<div class="featureBox">
<h2>Casa de apuestas online</h2>
<h3>Idea</h3>
<p>
	Crear una web donde se puedan crear apuestas de todo tipo y no solo deportivas como suele ser habitual.
</p>

<h3>Implementación</h3>
<p>Para la creacion de apuestas existen varios modos posibles; manualmente y automaticamente. <br/>
La creacion de apuestas automaticas se podría hacer bien usando la API de <a href="http://developer.espn.com/" target="_blank">espn</a> 
para el seguimeinto de deportes o bien haciendo web scraping.
La API de <a href="http://developer.espn.com/" target="_blank">espn</a> es de pago y hacer web scraping sería algo exagerado.
Así que el sistema de creación de apuestas se ha mantenido bastante simple de modo que solo se permiten apuestas creadas manualmente 
donde las opciones posibles para apostar son listas y las participaciones en las apuestas son simples.
</p>

<h4>Cálculo de cuotas</h4>
<p>La forma en la que he decidido calcular las cuotas es la europea (<a href="http://www.sportytrader.es/glosario-apuestas.htm" target="_blank">glosario de apuestas</a>). 
	En caso de que alguna opción no tenga participantes se indica.</p>

<h3>Herramientas y recursos adicionales utilizados</h3>
<p>
	<ul>
		<li>Aptana como IDE para HTML, CSS, JavaScript y Python.</li>
		<li>InkScape para crear las imágenes.</li>
		<li>Firefox como navegador para probar el funcionamiento.</li>
		<li>Firebug para retocar estilos y hacer debug de páginas.</li>
		<li>Git para el control de versiones.</li>
		<li>Twitter bootstrap como base para los estilos. Se ha utilizado para tener un reset de los estilos y
			 una ayuda para posicionar los elementos con objetivo de hacer un diseño responsive.</li>
		<li>jQuery como libreria JavaScript.</li>
	</ul>
</p>

<h3>Notas sobre el funcionamiento y otras cuestiones</h3>
<ul>
	<li>Usuario administrador inicial: admin | password: password</li>
	<li>Usuario inicial: user1 | password: password</li>
	<li>Al sincronizar la base de datos se crea el perfil para el admin en la aplicación y el usuario user1 además de algún ejemplo de apuesta.</li>
	<li>Los usuarios normales no pueden crear apuestas.</li>
	<li>Después de crear una apuesta hay que indicar que opción es la ganadora desde la administración de apuestas (botón "Administrar apuestas").</li>
	<li>En el menú de administración de apuestas solo se muestran las apuestas pendientes de indicar la opción ganadora.</li>
	<li>Se puede indicar la opción ganadora antes de acabar la apuesta, en ese caso la apuesta acaba inmediatamente.</li>
	<li>El dinero de cada usuario se puede ver en su perfil.</li>
	<li>En caso nadie apueste por una opción en concreto la cuota que aparece es 0.00, significa que en caso de apostar por esa opción te llevas todo el dinero.</li>
	<li>Se puede apostar varias veces sobre una misma apuesta.</li>
</ul>
</div>
{% endblock %}