{% extends "base.html" %}
{% block titulo %}Administrador de apuestas{% endblock %}
{% block mainContent %}

<div>
	<h2>Apuestas esperando resolución</h2>
<ul class="mainList">
{% for apuesta in apuestas %}
<li>
	<article>
		<header>	
			<h3><span class="subtitleElem">{{apuesta.categoria}} -</span> <span class="titleElem">{{ apuesta.titulo }}</span></h3>
		</header>
		<div class="row">
			<div class="span4 BorderBox">
				<p class="hwcenter">Abierta durante {{apuesta.fecha_fin|timeuntil:now}} más.</p>
				<p class="hwcenter">{{apuesta.getNparticipantes}} Participantes.</p>
			</div>
			<div class="span6 opciones">
				<h4>Elige opción ganadora:</h4>
				{% for opt in apuesta.optionsWithRatios %}
					<a class="btnA btnA-small" href="gana/{{apuesta.id}}/{{forloop.counter0 }}">({{forloop.counter}}) {{opt.0}} [{{opt.1|floatformat:2}}] </a>
				{% endfor %}
			</div>
			<div class="span1"><a class="btnA btnA-small" href="borra/{{apuesta.id}}">Borrar</a></div>
		</div>
	</article>
</li>
{% empty %}
	<li>No hay apuestas en este momento.</li>
{% endfor %}
</ul>

</div>
{% endblock%}
