<ul class="mainList">
{% for apuesta in apuestas %}
<li>
		<header class="row">
			<h3><span class="titleElem">{{ apuesta.titulo }}</span></h3>
		</header>
		<div class="row">
			<div class="span4 BorderBox">
				<p class="hwcenter">Abierta hasta el {{apuesta.fecha_fin}}.</p>
				<p class="hwcenter">{{apuesta.getNparticipantes}} Participantes.</p>
			</div>
			<div class="span4 opciones">
				<h4>Opciones:</h4>
				{% for opt in apuesta.getOpciones %}
					<span class="BorderBox pull-left" >({{forloop.counter}}) {{opt}}</span>
				{% endfor %}
			</div>
			<div class="span2">
				<img class="imgCategoria" src="{{ MEDIA_URL }}imgCategoria/{{apuesta.categoria.imagen}}" alt="{{apuesta.categoria}}"/>
			</div>
			<div class="span1"><a class="btnA" href="{{ apuesta.get_absolute_url }}">Participar</a></div>
		</div>
	</article>
</li>
{% empty %}
	<li>No hay apuestas en este momento.</li>
{% endfor %}
</ul>