{% extends "base.html" %}
{% block titulo %}Administrador de apuestas{% endblock %}
{% block mainContent %}

<div>
	<h2>Apuestas esperando resolución</h2>
<ul class="mainList">
{% for apuesta in apuestas %}
<li>
	<article>
		<header>	
			<h3><span class="subtitleElem">{{apuesta.categoria}} -</span> <span class="titleElem">{{ apuesta.titulo }}</span></h3>
		</header>
		<div class="row">
			<div class="span4 BorderBox">
				<p class="hwcenter">Abierta durante {{apuesta.fecha_fin|timeuntil:now}} más.</p>
				<p class="hwcenter">{{apuesta.getNparticipantes}} Participantes.</p>
			</div>
			<div class="span6 opciones">
				<h4>Elige opción ganadora:</h4>
				{% for opt in apuesta.optionsWithRatios %}
					<a class="btnA btnA-small" href="gana/{{apuesta.id}}/{{forloop.counter0 }}">({{forloop.counter}}) {{opt.0}} [{{opt.1|floatformat:2}}] </a>
				{% endfor %}
			</div>
			<div class="span1"><a class="btnA btnA-small borrar" href="borra/{{apuesta.id}}">Borrar</a></div>
		</div>
	</article>
</li>
{% empty %}
	<li>No hay apuestas en este momento.</li>
{% endfor %}

{% endblock%}
{% block footerScripts %}
<script>
	$(document).ready(function(){
		$('a.borrar').click(borrar);
	});
	
	function borrar(event){
		event.preventDefault()
		event.stopPropagation();
		var node=$(this);
		var link = node.attr("href");
		$.getJSON(link, {}, function(json) {
			//console.log(json)
			if(json.result=='ok'){
				//console.log();
				node.parent().parent().parent().parent().fadeOut('fast');
			}
		}).error(function() { node.parent().append("No se pudo borrar la apuesta."); });
	}
</script>

{% endblock %}