<ul class="mainList">
{% for participacion in participaciones %}
<li>
	<article>
		<header>	
			<h3>{{participacion.apuesta.categoria}} - {{ participacion.apuesta.titulo }}</h3>
			<div class="pull-right"><a class="btnA" href="{{ participacion.apuesta.get_absolute_url }}">Ver</a></div>
		</header>
		<div class="row">
			<section class="span4">Apostados {{participacion.cantidad}} um a la opción ({{participacion.opcion}}) {{participacion.getVerboseOption}}</setion>
			{% if participacion.apuesta.estado == "c" %}
				Opcion ganadora {{participacion.apuesta.opcion_ganadora}}
				{% if participacion.apuesta.opcion_ganadora == participacion.opcion %}
					Apuesta ganada!	
				{% endif %}
			{% endif %}
			<!--<img class="imgCategoria span3" src="{{ MEDIA_URL }}{{apuesta.categoria.imagen}}" alt="{{apuesta.categoria}}"/>-->
			<!--<div class="catboxbg" style="background: url({{ MEDIA_URL }}{{a.categoria.imagen}}) no-repeat"> </div>-->
			<section class="span4">
				<p>categoria </p>
				<p>categoria img {{participacion.apuesta.categoria.imagen}}</p>
				<p>opciones {{participacion.apuesta.opciones}}</p>
				<p>ratios {{participacion.apuesta.ratios|floatformat:3}}</p>
				<p>Abierta hasta el {{participacion.apuesta.fecha_fin}}</p>
			</section>
		</div>
	</article>
</li>
{% empty %}
	<li>No has participado en ninguna apuesta por el momento.</li>
{% endfor %}
</ul>