<ul class="mainList">
{% for participacion in participaciones %}
<li>
	<article>
		<header>	
			<h3>{{participacion.apuesta.categoria}} - {{ participacion.apuesta.titulo }}</h3>
			<div class="pull-right"><a class="btnA" href="{{ participacion.apuesta.get_absolute_url }}">Ver</a></div>
		</header>
			<section>
				<p>Apostados {{participacion.cantidad}} um a la opción ({{participacion.opcion}}) {{participacion.getVerboseOption}}</p>
				<p>
				{% if participacion.apuesta.estado == "c" %}
					Opcion ganadora: ({{participacion.apuesta.opcion_ganadora}}) {{participacion.apuesta.getVerboseWinOption}}
					{% if participacion.apuesta.opcion_ganadora == participacion.opcion %}
						<br/><strong>Apuesta ganada!</strong>
					{% endif %}
				{% else %}
					Abierta hasta el {{participacion.apuesta.fecha_fin}}
				{% endif %}
				</p>
				{% for opt in participacion.apuesta.optionsWithRatios %}
					<a class="btnA btnA-small">({{forloop.counter}}) {{opt.0}} [{{opt.1|floatformat:2}}] </a>
				{% endfor %}
				
			</setion>
			<!--<img class="imgCategoria span3" src="{{ MEDIA_URL }}{{apuesta.categoria.imagen}}" alt="{{apuesta.categoria}}"/>-->
			<!--<div class="catboxbg" style="background: url({{ MEDIA_URL }}{{a.categoria.imagen}}) no-repeat"> </div>-->
	</article>
</li>
{% empty %}
	<li>No has participado en ninguna apuesta por el momento.</li>
{% endfor %}
</ul>