<nav>
	<ul class="pull-right userMenu">

		<!--<li><a class="btn" href="/apuestas/">Apuestas</a></li>
		<li><a class="btn" href="/categorias/">Categorias</a></li>-->
		{% if user.is_staff %}
			<li><a class="btnA btnA-small" href="/apuesta/nueva/">Crear apuesta</a></li>
			<li><a class="btnA btnA-small" href="/categoria/nueva/">Crear categoria</a></li>
			<li><a class="btnA btnA-small" href="/apuestas/admin/">Administrar apuestas</a></li>
		{% endif %}
		<li><a class="btnA btnA-small" href="/perfil/">Perfil</a></li>
		<li><a class="btnA btnA-small" href="/anotaciones/">Anotaciones</a></li>
		<li><a class="btnA btnA-small" href="/about/">Sobre el autor</a></li>
		<li><a class="btnA btnA-small" href="/logout/">Salir</a></li>

	</ul>
</nav> 