<div class="masthead">
	<ul class="nav nav-pills pull-right">

		<!--<li><a class="btn" href="/apuestas/">Apuestas</a></li>
		<li><a class="btn" href="/categorias/">Categorias</a></li>-->
		{% if user.is_staff %}
			<li><a class="btnA" href="/apuesta/nueva/">Crear apuesta</a></li>
			<li><a class="btnA" href="/categoria/nueva/">Crear categoria</a></li>
			<li><a class="btnA" href="/apuestas/admin/">Apuestas</a></li>
		{% endif %}
		<li><a class="btnA" href="/apuestas/">Ver apuestas</a></li>
		<li><a class="btnA" href="/perfil/">Perfil</a></li>
		<li><a class="btnA" href="/logout/">Salir</a></li>

	</ul>
</div> 